# Python sanal ortam klasörleri
.venv/
env/
venv/
ENV/

# Python önbellek dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# Hassas şifreler ve ortam değişkenleri
.env
.env.local
.env.*.local

# Kod editörü (VS Code / PyCharm) özel ayarları
.vscode/
.idea/

# İşletim Sistemi Kalıntıları (Mac & Windows)
.DS_Store
Thumbs.db

# Frontend (React/Node) bağımlılık ve build çıktıları
node_modules
dist